<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>GSHK Project</title>
    <link rel="stylesheet" href="./css/sites.css">

    <!-- Include Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    <!-- Added Summernote (WYSIWYG Editor on Bootstrap)-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <a class="navbar-brand" href="/blog">HOME</a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"
            aria-expanded="true">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div id="navbar" class="navbar-collapse collapse hide justify-content-end">
            <ul class="nav nav-pills">
                    <a class="nav-item nav-link" href="./myArticles">My Articles</a>
                    <a class="nav-item nav-link" href="./Account">Account</a>
                    <a class="nav-item nav-link active" href="./signout">Sign out</a>
            </ul>
        </div>
    </nav>

    {{{body}}}
</body>

</html>