<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>GSHK Project</title>
    <link rel="stylesheet" href="./css/sites.css">

    <!-- Include Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>  
  
  


    <!-- Added Summernote (WYSIWYG Editor on Bootstrap)-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script> 
</head> 
{{!--Navigation --}}

<nav class="navbar navbar-expand-sm sticky-top" style="background-color: white">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"aria-expanded="true">
        <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="container-fluid text-center">
        <div class="navbar-header">
            <a class="navbar-brand">
                <img id="logo" src="/images/site/logo.png" alt="Logo">
            </a>
        </div> 

        <h1 class="navbar-text">Welcome to your new blog.</h1> 
        <ul class="nav justify-content-end p-3">
            <li class="nav-item">
                <a id="signinButton" class="btn btn-outline-dark" href="./signin">Sign in</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-dark" href="./signup">Sign up</a>
            </li> 
        </ul>
    </div>
</nav> 


<body>
  {{{body}}}    
</body>

</html>