<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>GSHK Project</title>
    {{/if}}
    <link rel="stylesheet" href="./css/articles.css">

    <!-- Include Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    <!-- Added Summernote (WYSIWYG Editor on Bootstrap)-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="#">HOME</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"
        aria-expanded="true">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div id="navb" class="navbar-collapse collapse hide">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="./settings">Settings</a>
            </li>
            <!-- WE CAN ADD MORE LINK HERE-->
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                {{!-- <div class="container">
                    <div class="row">--}}
                <div class="col-12 text-center py-2">
                    <a href="./signup"> <button role="button" class="btn btn-primary btn-lg" data-toggle="modal">Sign
                            Up</button> </a>
                    </div>
                {{!-- </div>
                </div> --}}

            </li>
            <li class="nav-item">
                {{!-- <div class="container">
                    <div class="row"> --}}
                <div class="col-12 text-center py-2">
                    <a href="./signin"> <button role="button" class="btn btn-primary btn-lg" data-toggle="modal">Sign
                            In</button></a>
                </div>
                {{!-- </div>
                </div> --}}
            </li>
        </ul>
    </div>
</nav>

    {{{body}}}
</body>

</html>