<script src="/js/summernote.js"></script>

<div class="container">


    <div class="header" class="text-center border border-light p-5">
        <h1 style="margin-top: 20px;">Post your Article </h1>
    </div>

    <div id="articles" class="panel">
     
        <div id="articles-inner"></div>

        <div id="article-load-button" class="article-load button">Edit articles</div>
        <form action="/myArticles" method="POST">
            <h3>Please give your article a title:</h3>
            <input class="form-control mb-4" type="text" name="title" id="title" required>
            <textarea id="summernote" name="editordata"></textarea>
            <button id="save" class="btn btn-outline-primary" type="submit">Save</button>
        </form>
    </div>
</div>