<script src="/js/summernote-add.js"></script>

<div class="container">


    <div class="header" class="text-center p-5">
        <h1 style="margin-top: 20px;">Post your Article </h1>
    </div>

    <div class="panel border border-secondary">
        <a role="button" class="btn btn-warning mr-auto mb-2" href="./myArticles">Back to My Articles</a>
        <div class="border border-warning">
        <p><strong>Preview your articles below:</strong></p>
        <div id="title-inner">
            
        </div>
        <br>
        <div id="article-inner">
        </div>
        <br>
        </div>


        <form action="/addArticles" method="POST">
            <h3>Article Title:</h3>
            <textarea class="form-control mb-4" type="text" name="title" id="title"></textarea>
            <textarea class="form-control" id="summernote" name="editordata"></textarea>
            <button id="save" class="btn btn-outline-warning upload" type="submit">Save</button>
        </form>
    </div>
</div>