<div class="container">


    <p>Please select your profile photo or upload one below:</p>

    {{! Display all predefined avatars here.}}
    <div class="grid-3">
        {{#each images}}
        <div class="card">
            <a href="./images/{{this}}"><img id="{{this}}" class="card-body card-img p-2" src="./images/{{this}}" onclick="saveImageName()"></a>
            {{!-- <div class="card-body flex-row justify-center">
                <p><em>{{this}}</em></p>
            </div> --}}
        </div>
        {{/each}}
    </div>

    <div class="upload-image">
        <br>
        <form action="./uploadImage" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <input id="inpFile" type="file" name="imageFile" accept=".png,.jpg,.jpeg,.bmp,.gif">
            </div>

            <div class="form-group align-start">
                <button type="submit">Upload!</button>
            </div>
        </form>
    </div>

    <div class="flex-row justify-sb align-center">
        <button class="btn btn-info btn-block my-4" type="submit" name="signup">Create account</button>
    </div>

</div>