<div class="container">

    {{! Display a message if one was provided. }}
    {{#if message}}
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}</a>
    </div>
    {{/if}}

    <form action="./avatar" method="POST" enctype="multipart/form-data">

        <p>Please select your profile photo or upload one below:</p>
        
        <div class="form-group ">
            {{! Display all predefined avatars here.}}
            <div class="grid-3">
                {{#each images}}
                <div class="card">
                    <label class="m-0">
                        <input type="radio" name="radioImage" value="{{this}}" {{#if predefined}}disabled {{/if}}>
                        <img class="card-body card-img p-2" src="./images/{{this}}">
                    </label>
                </div>
                {{/each}}

            </div>
        </div>
        
        <div class="form-group">
            <input id="inpFile" type="file" class="form-control-file" name="imageFile"
                accept=".png,.jpg,.jpeg,.bmp,.gif">
        </div>
        {{!-- <div class="form-group">
            <button type="submit">Click me to preview!</button>
        </div> --}}

        <div class=" form-group flex-row justify-sb align-center">
            <button id="darkButtons" class="btn btn-outline-primary" type="submit" name="signup">Create account</button>
        </div>

    </form>
</div>


</div>

