<div class="container">

    {{! Display a message if one was provided. }}
    {{#if message}}
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
    {{/if}}


  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        {{#each predefinedArticles}}
        <h1>{{this.title}}</h1>
        <h2>{{this.date}}</h2>
        <p>{{this.content}}</p>
        {{/each}}
      </div>
    </div>
  </div>

</div>

