<div class="container" style="margin-top: 50px;">

    <!-- edit form column -->
    <div class="col-md-9 personal-info">
        <p>
            To delete your account, please provide your username and click 'Delete Account'.
        </p>
        {{! Display a message if one was provided. }}
        {{#if message}}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
        </div>
        {{/if}}

        <form action="./deleteAccount" method="POST" class="form-horizontal">
            <p class="h4 mb-4">Delete your account information</p>
            <div class="flex-col mb">
                <label for="txtUsername">Username:</label>
                <input class="form-control mb-4" type="text" name="username" id="txtUsername" value="{{user.username}}">
            </div>

            <div class="flex-row justify-sb align-center">
                <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                    data-target="#delete-user-modal">
                    Delete user
                </button>

            </div>
            <div id="delete-user-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Are you sure you want to delete account?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </form>
    </div>
</div>