<script src="/js/summernote-edit.js"></script>

<div class="container">


    <div class="header" class="text-center border border-light p-5">
        <h1>Edit your Article </h1>
    </div>

    <div id="articles" class="panel">
        <a role="button" class="btn btn-success mr-auto" href="./myArticles">Back to My Articles</a>
        <p>Preview your articles below:</p>
        <div id="title-inner">
            <br>
        </div>
        <div id="article-inner">
            <br>
        </div>


        <form action="/editArticle" method="POST">
        <input class="form-control" name="articleID" value="{{article.id}}" type="hidden">
            <label for="article-title">Article Title:</label>
            <textarea class="form-control"  name="title" id="title">{{article.title}}</textarea>
            <textarea class="form-control"  id="summernote" name="editordata">{{article.content}}</textarea>
            <button id="save" class="btn btn-primary upload" type="submit">Save</button>
        </form>
    </div>
</div>