<script src="/js/forgotpsw-client.js"></script>

<div class="container">



    <form action="./forgotpsw" method="POST">
        <div class="container">
            <div class="row">
                <div class="col-md-8 forgot-form">

                    <h2>Please use your email address to reset your password:</h2>

                    {{!-- <label class="label label-default" for="email"></label> --}}
                    <input id="email_address_input" name="email_address" class="form-control" type="text"
                        placeholder="Your Email Address:">
                    <p id="email-exist"></p>
                    <button id="reset" class="btn btn-outline-primary" type="submit">Reset</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <p><strong>Message:</strong> {{message}}</p>
                </div>
            </div>
        </div>



    </form>

</div>