<div class="container">

  {{! Display a message if one was provided. }}
  {{#if message}}
  <div class="alert alert-success alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{message}}</a>
  </div>
  {{/if}}

</div>
<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" style="width:100%">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3" style="color:red">GSHK Blog</h1>
        <p class="lead mb-0" style="color:red">Keep working hard guys</p>
      </div>
    </div>
  </div>
</header>

{{!-- <section class="my-5"> --}}
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        {{#each predefinedArticles}}
        <h1>{{this.title}}</h1>
        <h2>{{this.date}}</h2>
        <p>{{this.content}}</p>
        {{/each}}
      </div>
    </div>
  </div>
{{!-- </section> --}}