<div class="container">

  {{! Display a message if one was provided. }}
  {{#if message}}
  <div class="alert alert-success alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{message}}</a>
  </div>
  {{/if}}

</div>

  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        {{#each predefinedArticles}}
        <h1>{{this.title}}</h1>
        <h6>{{this.date}}</h6>
        <p>{{{this.content}}}</p>
        {{/each}}
      </div>
    </div>
  </div>