<div class="container">

    {{! Display a message if one was provided. }}
    {{#if message}}
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}</a>
    </div>
    {{/if}}
</div>