<div class="container">
    <div class="row">

        <div class="col-xl-8 col-md-12 mx-auto">
            <h1>{{article.title}}</h1>
            <h6>{{article.date}}</h6>
            <div>{{{article.content}}}</div>
            
        </div>
    </div>

    <div class="row">
        {{!-- <div class="col-xl-4 col-md-12 mx-auto">
            <p>You are the author of this article, you can:</p>
        </div> --}}
        <div class="col-xl-8 col-md-12 d-flex justify-content-end">
            <div class="btn-toolbar">
            <button type="button" class="btn btn-success mr-4">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>

    </div>

</div>