<div class="container"> 
    <form action="./resetpsw" method="POST">
     <div>
         <label for="new-psw">New password</label> 
         <input type="password" id="new-password" name="newPassword">
    </div> 
    <div>
        <label for="confirm-new-psw">Repeat new password</label> 
        <input type="password" id="confirm-password" name="confirmPass">
    </div>  

    <button type="submit" id="submit" class="btn btn-info btn-block my-4">Reset password</button>
    </form>
</div>
