<div class="container mx-auto" style="margin-top: 50px;"> 
    <h3>Reset your password</h3>
    <form action="./resetpsw" method="POST" style="margin-top: 20px;">
     <div>
         <label for="new-psw">New password:</label> 
         <input type="password" id="new-password" name="newPassword" style="margin-left: 58px">
    </div> 
    <div>
        <label for="confirm-new-psw">Confirm new password:</label> 
        <input type="password" id="confirm-password" name="confirmPass" required>
    </div>  

    <button type="submit" id="submit" class="btn btn-outline-info">Reset password</button>
    </form>
</div>
