<script src="/js/signup-client.js"></script>

<div class="container" style="margin-top: 50px;">

    <form action="./signup" method="POST" class="border border-light text-center mr-2 py-2 px-2">

        {{! Display a message if one was provided. }}
        {{#if message}}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
        </div>
        {{/if}}

        <p class="h4 mb-4">Create a new account</p>
        <div class="flex-col mb">
            <label for="txtUsername">Username:</label>
            <input class="form-control mb-4" type="text" name="username" id="txtUsername" required>
            <p id="user-exist"></p>
            
        </div>

        <div class="flex-col mb">
            <label for="txtPassword">Password:</label>
            <input class="form-control mb-4" type="password" name="password" id="txtPassword" required>
        </div>

        <div class="flex-col mb">
            <label for="txtName">Re-enter Password:</label>
            <input class="form-control mb-4" type="password" name="rePassword" id="txtRePassword" required>
            <p id="password-not-matching"></p>
        </div>

        <div class="flex-col mb">
            <label for="txtRealName">Real Name:<span id="user-details-realName"></span></label>
            <input class="form-control mb-4" type="text" name="realName" id="realName" required>
        </div>

        <div class="flex-col mb">
            <label for="txtEmailAdd">Email:<span id="user-details-email"></span></label>
            <input class="form-control mb-4" type="text" name="email" id="email" required>
        </div>

        <div class="flex-col mb">
            <label for="txtDoB">Date of Birth:<span id="user-details-dob"></span></label>
            <input class="form-control mb-4" type="date" name="dob" id="dob" required>
        </div>

        <div class="flex-col mb">
            <label for="txtDescription">About yourself:<span id="user-details-description"></span></label>
            <input class="form-control mb-4" type="text" name="description" id="description" required>
        </div>

        <div class="flex-row justify-sb align-center">
            <button id="allButtons" class="btn btn-outline-info" type="submit" name="toAvatar">Next</button>
        </div>
    </form>

</div>