.grid-container {
    margin               : auto;
    display              : grid;
    grid-template-columns: 700px 300px;
    grid-template-rows   : auto auto;
    grid-template-areas  : "header header""articles information"
}

.header {
    grid-area      : header;
    display        : flex;
    justify-content: center;
}

#articles {
    grid-area: articles;
}

#information {
    grid-area: information;
}

.article-author {
    color      : black;
    text-shadow: none;
}

.article-author:hover {
    color      : ivory;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.article,
#user-details {
    margin       : 0.25em;
    padding      : 0.5em;
    border       : 1px solid black;
    border-radius: 5px;
}

.button {
    width           : 100%;
    text-align      : center;
    color           : white;
    background-color: teal;
    border          : 1px solid black;
    border-radius   : 5px;
    padding-top     : 0.25em;
    padding-bottom  : 0.25em;
}

.article-load {
    margin-top      : 2em;
    background-color: darkgreen;
}

.panel {
    padding      : 1em;
    border       : 1px solid salmon;
    border-radius: 15px;
    margin       : 0.25em;
}

.panel>h2 {
    text-align: center;
}

/* Main page layout */
/*****************************************************************/
body {
    margin : 0;
    padding: 0;
}

.container {
    margin: 20px 20px;
}

/*****************************************************************/


/* Cards */
/*****************************************************************/
div.card {
    background-color: white;
    box-shadow      : 3px 3px 5px #706F6F;
    display         : flex;
    flex-direction  : column;
}

/* div.card .card-header {
    width: 100%;
} */

div.card .card-img {
    display: block;
}

/* div.card img:hover, img:target {
    border: 3px solid rgb(45, 173, 216);
    margin: 0;
  } */

div.card>.card-body {
    border       : 1px solid #E6E7E9;
    padding-left : 10px;
    padding-right: 10px;
    height       : 100%;
}

/* div.card > .card-footer {
    width: 100%;
} */
/*****************************************************************/

/* Nav */
/*****************************************************************/
.nav {
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;
    align-items    : center;
}

.navbar-brand {
    padding: 0px 10px;
    margin : 2px;
}

.nav .nav-link {
    padding  : 4px 12px;
    font-size: 18px;
    color    : white;
}

/*****************************************************************/

/* Grid */
/*****************************************************************/
.grid-3 {
    display              : grid;
    grid-auto-rows       : auto;
    grid-template-columns: repeat(7, 1fr);
    grid-gap             : 20px;
}

/*****************************************************************/


/* Radio */
/*****************************************************************/
[type=radio] {
    position: absolute;
    opacity : 0;
    width   : 0;
    height  : 0;
}

/* IMAGE STYLES */
div.card img {
    cursor: pointer;
}

/* CHECKED STYLES */
div.card [type=radio]:checked+img {
    outline: 3px solid rgb(45, 173, 216);
}

#avatar {
    width: 100%;
}

/*****************************************************************/